<div class="content-container">
    <app-navbar></app-navbar>
    <div class="form-container">
        <form [formGroup]="form">
            <div class="form-outline form-black mb-4">
                <div class="deposit-info">
                </div>
                <input type="number" id="salary" class="form-control" formControlName="salary" min="0" />
                <label class="form-label" for="salary">Ingrese cantidad de dinero</label>
                <br>
                <button class="btn btn-success" (click)="depositarDinero()">Depositar dinero</button>
            </div>
        </form>
    </div>
</div>