<div class="container">
    <nav class="navbar ">
        <ul class="navbar-nav flex-column">
            <li class="nav-item active mb-4"> 
                <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link" [routerLink]="['/salary']">Ver salario</a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link" [routerLink]="['/withdrawal']">Retirar dinero</a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link" [routerLink]="['/deposit']">Depositar dinero mi cuenta</a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link" [routerLink]="['/transfers']">Realizar Transferencias</a>
            </li>
            
            <li class="nav-item mb-4">
                <a class="nav-link" [routerLink]="['/go-out']">Salida</a>
            </li>

        </ul>
    </nav>
</div>
