<app-navbar></app-navbar>
<div class="container">
    <div class="col">
        <div class="row">
            <button class="btn-success" (click)="agregarDestinatario()">Agregar destinatario</button>
           <form [formGroup]="form">
            <div *ngFor="let destinatario of destinatarios">
                <label  class="form-label" for="numeroCuenta"> Número de cuenta:</label>
                <input class="form-control" formControlName="numeroCuenta"  type="number" name="numeroCuenta">
                <label  class="form-label" for="nombre"> Nombre del titular:</label>
                <input class="form-control" formControlName="nombre"  type="number" name="nombre">
                <label  class="form-label" for="dineroTransferir"> Dinero a transferir:</label>
                <input class="form-control" formControlName="dineroTransferir"  type="number" name="dineroTransferir">
                <hr>
            </div>
            </form>
        </div>
    </div>
</div>