<app-navbar></app-navbar>
<div class="container">
    <div class="col">
        <div class="row">
            <button class="btn-success">Agregar destinatario</button>
            <select name="" id="">
                
                <option value="1">Numero de cuenta
                    <input type="text"> Numero de cuenta
                </option>
                <option value="2">Nombre del titular</option>
                <option value="3">Dinero a ingresar</option>
            </select>
        </div>
    </div>
</div>