
<div class="content-container">

    <table class="stilo-tabla">
      <thead>
        <tr>
          <th>TIPO OPERACION</th>
          <th>MONTO</th>
          <th>DESTINO</th>
          <th>FECHA ENVIO</th>
          <TH>TITULAR</TH>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let transacciones of transacciones | paginate: { itemsPerPage: pageSize, currentPage: page }">
            <td>{{ transacciones.tipoOperacion }}</td>
            <td>{{ transacciones.monto }}</td>
            <td>{{ transacciones.destino }}</td>
            <td>{{ transacciones.fechaEnvio }}</td>
            <td>{{ transacciones.titular }}</td>
          </tr>
        </tbody>
      </table>


      <!-- Cuando el usuario cambia de boton se escucha el evento pageChante y se actualiza 
      la variable de paginacion. pagination-controls es un contenedor propio de la bibliotca
      para el anterior y el siguiente -->
      <div class="pagination-controls">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
  
  </div>
    