.contenedor{
    display: flex;
}
.contenedor {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;
  }
  
  .componente1{
    justify-content:center;
  }
  
  .componente2 {
    justify-content:center;
  }
  