@import "~font-awesome/css/font-awesome.css";



/* Estilos generales para dispositivos móviles */


body {
  font-size: 16px;

}

/* Media query para tabletas */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Media query para pantallas de escritorio */
@media screen and (min-width: 1024px) {
  body {
    font-size: 20px;
    max-width: 1200px; /* Limitar el ancho máximo para que no se extienda demasiado en pantallas muy grandes */
    margin: 0 auto; /* Centrar el contenido en pantallas grandes */
  }
}
